* Affects entire document */
html {
    scroll-behavior: smooth; /* Makes sure that the page scrolling is smooth when the nav bar is clicked */
}

/* Body */
body {
    margin: 0%; /* makes sure the site displays all the way to the edge of the browser screen */
    opacity: 1; /* This and transition affect page fade */
    transition: 3s opacity; /* causes a 3 second fade in, you can change this time if you choose */
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    height: 100%;
}

    /* contributes to the fade effect for the page that occurs when the page is loaded */
    body.fade-out {
        opacity: .1; /*  sets the level of opacity at the start of page load */
        transition: none;
    }
    .Navbar {
        background-color: #000000;
        overflow: hidden;
        top: 0; /* makes sure no space is displayed above the navbar */
    width: 100%; /* makes sure the navbar span the entire width of the page */
    z-index: 1; /*makes sure other elements don't display over the navbar */
    position: fixed;
    -webkit-animation: moveNav 5s; /* Safari 4.0 - 8.0 */
    animation: moveNav 5s;
    }

    .Navbar a {
        float: left;
        color: green;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
    }
    
    .Navbar a:hover {
        background-color: #f5f5f5;
        color: #000000;
    }
/* animation effect for moving nav bar*/
@keyframes moveNav {
    from {
        left: -100vw;
    }

    to {
        left: 0vw;
    }
}

/* animation effect for moving the nav bar */
@keyframes movenavText {
    from {
        top: -100vw;
    }

    to {
        top: 0vw;
    }
}





/* Table - =section covers styling of columns and rows within our table */
* { /*  asterisk is a universal selector that applies this effect to all elements on page */
    box-sizing: border-box; /*  creates a box with a border where most of text will go */
}

.Column_1 {
    float: right;
    width: 50%; /* makes sure one column takes up half the page width */
    padding: 1.6%;
    background-color: darkgreen;
    height: auto; /* You might need to adjust this to fit your content */
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: auto; /* You may need to adjust this to fit your content */
    background-color: black;
}

.Column_3 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: auto; /* You may need to adjust this to fit your content */
    background-color: black;
}

.Column_4 {
    float: right;
    width: 50%;
    padding: 1.6%;
    height: auto; /* You may need to adjust this to fit your content */
    background-color: black;
}

@media screen and (max-width:600px) {
    .Column_1, .Column_2 {
        width:100%;    
    }
}

@media screen and (max-width:600px) {
    .Column_1 {
        background-color: darkgreen;    
    }
}

@media screen and (max-width:600px) {
    #Slide_Show_Images {
        height: 300px;
        width: 100%; 
        object-fit: cover;   
    }
}
.Row:after { /* will insert something after the content of the selected elements */
    content: ""; /* By keeping this blank, we are letting the footer (covered lower down) be displayed - removing it makes the footer overwrite a column */
    display: table; /* display property specifies the type of display behavior; the table value tells the browser treat the element as a table */
    clear: both; /* clears any other elements from floating on the left or right of element */
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase; /* capitalizing our headings */
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%; /* adding a small margin above the headings */
}

/* Paragraph elements */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: .1vw; /* expands text slightly */
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: black;
    text-align: center;
}

/* Center align elements - keeps all centered text */
center {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Anchor elements */
a {
    color: black; /* making sure all links are blue */
}

/*Anchor elements hover styling*/
a:hover {
    color: white;
}

/* Quotation elements */
q {
    font-style: italic;
    font-weight: bold;
}

#Slideshow_Background {
    margin-top: 25px;
}

/* Image elements */
img {
    filter: grayscale(75%); /* This rids pictures of 75% of their color */
    border-radius: 8px; /*  causes images to have slightly rounded edges */
    width: 50%;
    height: auto;
    margin: auto auto auto auto;
    display: block; /*  specifying block display makes sure our images are able to be centered */
}

/* Center align element hover effect */
center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* Paragraph element hover effect */
p:hover {
    color: white;
    transition: transform 1s;
    transform: scale(1.01);
}

/* Heading 1 element hover effect */
h1:hover {
    color: white;
    font-weight: normal; /* Makes text no longer bold when hovered over */
}

/* Image element hover effects */
img:hover {
    filter: grayscale(5%); /* Brings back most of image's color when hovered over */
    transition: transform 1s;
    transform: scale(1.1);
}

/* Contact form styling */


/* Button used to open the contact form - fixed at the bottom of the page */
.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
    background-color: black;
    color: green;
}

/* The popup form - hidden by default */
.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

/* Form styling */
.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

    /* Input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: .93vw;
        margin: .6vw 0 .6vw 0;
        border: none;
        background: Gainsboro;
        font-family: Helvetica, Avant Garde;
        font-size: 1vw;
    }

    /* Submit button */
    .form-container .btn {
        background-color: white;
        color: black;
        border-color: black;
        margin-bottom: 1vh;
    }

    /* Close button */
    .form-container .cancel {
        background-color: black;
        color: white;
        border-color: gray;
    }

/* Button styling */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

    /* Hover effect for buttons */
    button:hover, .form-container .btn:hover {
        color: white;
        background-color: black;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        border-style: solid;
        border-color: silver;
    }

.form-container .cancel:hover {
    color: white;
    background-color: rgba(146, 146, 146, 0.597);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
}



  
footer {
    color: green;
    background-color: black;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}